<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>

<form action='/add' method='post'>
  <label for="url">
    URL:
    <input type="text" name="url">
  </label>
  <input type="submit" id="Add" value="Add to Bookmarks">
</form>
