
<form action="/bookmarks/<%= @id %>" method="post">
  <input type='hidden' name='_method' value='PATCH'/>
  <input type="text" name="url" />
  <input type="text" name="title" />
  <input type="submit" id="Add" value="Submit">
</form>
